.right-text-group {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    gap: 30px;
}

.change-percent-container {
    display: flex;
    align-items: center;
    min-width: 40px;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 8px;
    height: 2.2rem;
}

.increase {
    background-color: #e6f4ea;
}

.decline {
    background-color: #fce8e6;
}

.badge-ticker-container {
    display: flex;
    gap: 10px;
}

.column-direction {
    flex-direction: column;
    height: fit-content;
    gap: 0;
    align-items: center;
}

.badge-ticker-wrapper {
    width: 130px;
}

.right-text-wrapper {
    width: 60%;
}
.button-container{
    display: flex;
    flex-wrap: nowrap;
}
.center-content{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}