.right-text-group {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    gap: 5px;
}

.change-percent-container {
    display: flex;
    align-items: center;
    min-width: 40px;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 8px;
    height: 2.2rem;
}

.increase {
    background-color: #e6f4ea;
}

.decline {
    background-color: #fce8e6;
}

.badge-ticker-container{
    display: flex;
    gap: 10px;
}
.column-direction{
    flex-direction: column;
    height: fit-content;
    gap: 0;
}